<title>staniel</title>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Devops Search Tool</title>
    <style>
        label {
            font-size: 20px;
            font-weight: 35000;
            color: #1c87c9;
          }
          input {
            width: 25%;
            height: 12px;
            padding: 4px 10px;
            border: 1px solid #666;
            background: #ffcce0;
            color: #1c87c9;
            font-size: 16px;
          }
          select {
            width: 25%;
            height: 30px;
            padding: 4px 10px;
            border: 1px solid #666;
            background: #ffcce0;
            color: #1c87c9;
            font-size: 16px;
          }
          body {
            background-color: lightblue;
          }
          output {
  display: inline;
}
<link rel="stylesheet" 
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        </style>
</head>
<body>
    <div align="center", id="page-wrap">
    <h1>Fetch Cluster Data</h1>
    <p>
    <form action="/list-clusters" method="post">
        ListClusters :<label for="listclusters" id="listclusters"></label> <br />
        Select your Profile:<select name="profilename" id="profilename"/> <br />
        <option value='tk-prod,us-west-1'>tk-prod(us-west-1)</option>
        <option value="tk-prod,us-east-1">tk-prod( or us-east-1)</option>
          </select><br />
          
        <button type="submit">ListClusters</button>
    </form>
  </p>
    <form action="/list-services" method="post">
        <p>
        ListServices :<label for="listservices"></label> <br />
        Cluster : <select id="cluster1"><br />
                    <% if (item) { %>
                      <%var items = item.split(',');%>
                      <% for(var i=0; i<items.length; i++) {%>
                     <option value="<%= items[i] %>"><%= items[i] %></option>
                     <% } %> 
                    <% } else { %>
                    <h1>Boohiss no item!</h1>
                    <% } %>
                  </select><br />
        Select your Profile : <select id="profilename" name="profilename" onchange="myFunction()"><br />
            <option value="tk-prod">tk-prod(us-west-1 or us-east-1)</option>
            <option value="tk-nonprod">tk-nonprod(us-west-1 only)</option>
          </select><br />
        Select Region: <select id="regionname" name="regionname"><br />
            <option value="us-west-1">us-west-1</option>
            <option value="us-east-1">us-east-1</option>
          </select><br />
        <button type="submit">List Services</button>
    </p>
    </form>
    <button type="button" onclick="myFunction()">Insert option before selected</button>
<script>
        function myFunction() {
          var x = document.getElementById("cluster1");
          if (x.selectedIndex >= 0) {
            var option = document.createElement("option");
            option.text = "Kiwi";
            var sel = x.options[x.selectedIndex];  
            x.add(option, sel);
          }
       }
      </script>
    <form action="/list-instances" method="post">
        <p>
        ListInstances :<label for="listinstances",bgcolor="red"></label> <br />
        Cluster : <input name="cluster" type="text" /> <br />
        Profile : <input name="profilename" type="text" /> <br />
        Service Name: <input name="servicename" type="text" /> <br />
        Select Region: <select id="regionname" name="regionname" onchange="getComboA(this)"><br />
            <option value="us-west-1">us-west-1</option>
            <option value="us-east-1">us-east-1</option>
          </select><br />
        <button type="submit">List Instances</button>
    </p>
    </form>
    Result:<textarea id="demo"><%= item2 %></textarea>
    <div>
    <form name="form1" method="POST" action="/student/add">
    <table>
        <tr>
        <td>First name</td>
        <td><input type="text" name="fname" ></td>
        </tr>
        <tr>
        <td>last name</td>
        <td><input type="text" name="lname" ></td>
        </tr>
        <tr>
        <td colspan="2"><button type="submit" value="Save" ></td>
        </tr>
    </table>
    </form> 
    <% if(userValue!=null){ %>    
        <div> Data Entered as <%= userValue.first %>  <%= userValue.last %> </div>
    <%}%>   
    </div>
</div>
<script>
      function getComboA(selectObject) {
      var value = selectObject.value;  
      alert(value);
      }
  </script>
</body>
</html>