<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  </style>
  </head>
<body>  
   <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button class="btn" form="/home" id="homebutton"><i class="fa fa-home"></i> Home</button>
<form name="/" method="get" action="/" id="/home">    
</form>
        <form hidden name="/list-clusters" method="post" action="/list-clusters" id="/list-clusters">
            ListClusters :<label for="listclusters" id="listclusters"></label> <br />
            Select your Profile:<select name="profilename" id="profilename1"> <br />
              </select><br /> 
              <button type="submit" id="ListClusters2">List Services</button>
              <output name="clusterValue" style="overflow: auto; width:100px; height:200px;" id="clusterValue1"> <%= clusterValue %></output>       
          </form>
<p>
  <form action="/list-services" method="post">
      Select your Profile:<select name="profilenameosl" id="profilenameosl" onchange="Getclusters()"> <br />
        <option value="select the region and profile.....">Select</option>
        <option value='tk-nonprod,us-west-1'>tk-nonprod us-west-1</option>
        <option value='tk-nonprod,us-east-1'>tk-nonprod us-east-1</option>
        <option value='tk-prod,us-west-1'>tk-prod us-west-1</option>
        <option value='tk-prod,us-east-1'>tk-prod us-east-1</option>
        </select>
        Select Cluster : <select name="listclusterselect" id="listclusterselect" type="text"><br />
        <option value='Select......'>Select.....</option>
        </select>
        <button type="submit" id="Listservices2" formmethod="post">List Services</button>
        <div hidden style="overflow: auto; width:300px; height:200px;"id="listServices"> <%= listServices %></div>
        <div hidden style="overflow: auto; width:300px; height:200px;" id="runNodeShellosl"> <%= runNodeShellosl %></div>
  </form>
</p>
<p >
  <form hidden action="/getclusters" id="/getclusters" method="post">
    <!-- 3.this is for listing IPS -->
    <label for="runNodeShell"></label> <br />
    Select your Profile:<input name="profilenamegl" id="profilenamegl"> <br />
    </input>
    <div style="overflow: auto; width:300px; height:200px;" id="runNodeShell"> <%= runNodeShell %></div>
</form>
</p>
<p >
  <form hidden action="/getclustersosl" id="/getclustersosl" method="post">
    <!-- 3.this is for listing IPS -->
    Select your Profile:<input name="profilenameglosl" id="profilenameglosl"> <br />
    </input>
    <div style="overflow: auto; width:300px; height:200px;" id="runNodeShell"> <%= runNodeShell %></div>
</form>
</p>
      <p>
         List Instances: <label for="listInstances"></label><br />
        <form action="/list-instances" method="post">
          <!-- 1.this is for listing IPS-->
        Select your Profile : <select id="profilenameinst" name="profilenameinst" onchange="Loadclustersinst()"><br />
          <option value='Select the AWS account and region.....'>Select the AWS account and region.....</option>
          <option value='tk-nonprod,us-west-1'>tk-nonprod us-west-1</option>
          <option value='tk-nonprod,us-east-1'>tk-nonprod us-east-1</option>
          <option value='tk-prod,us-west-1'>tk-prod us-west-1</option>
          <option value='tk-prod,us-east-1'>tk-prod us-east-1</option>
          </select>
          Cluster : <select id="clusterinst" name="clusterinst" type="text" /> <br />
          <option value='Select......'>Select.....</option>
          </select>
          Service : <select id="service" name="service" type="text" /> <br />
            <button type="submit" >List Instances</button>
            <div style="overflow: auto; width:300px; height:200px;"> <%= listInstances %></div>
        </form>
      </p>
</body>
<script>
  function myFunction2() {
  document.getElementById("demo2").innerHTML = document.getElementById("clusterValue1").innerHTML
}
</script>
  <script type="text/javascript">
    function Loadclusters() {
      alert(document.getElementById("profilenamesl").value); 
      document.getElementById("profilenamegl").value = document.getElementById("profilenamesl").value;
      document.getElementById("/getclusters").submit();
      texttosave = document.getElementById("profilenamesl").value;
      localStorage.setItem('mystorage', texttosave);
    }
  </script>
  <script type="text/javascript">
    function Getclusters() {
      alert(document.getElementById("profilenameosl").value);
      texttosaveosl = document.getElementById("profilenameosl").value;
      localStorage.setItem('mystorageosl', texttosaveosl);
      document.getElementById("profilenameglosl").value = document.getElementById("profilenameosl").value;
      document.getElementById("/getclustersosl").submit();
      texttosave = document.getElementById("profilenameosl").value;
      localStorage.setItem('mystorage', texttosave);
    }
  </script>
  <script type="text/javascript">
    function Loadclustersinst() {
      // 2.this is for listing IPS
      // alert("home1" + document.getElementById("profilenamesl").value); 
      document.getElementById("profilenamegl").value = document.getElementById("profilenameinst").value;
      document.getElementById("/getclusters").submit();
      texttosave = document.getElementById("profilenameinst").value;
      localStorage.setItem('mystorage', texttosave);
      alert("home 1 profile stored value" + localStorage.getItem('mystorage'))
    }
  </script>
  </script>
</html>