<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  </style>
  </head>
<body>  
   <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button class="btn" form="/home" id="homebutton"><i class="fa fa-home"></i> Home</button>
<form name="/" method="get" action="/" id="/home">    
</form>
        <form hidden name="/list-clusters" method="post" action="/list-clusters" id="/list-clusters" onsubmit="myFunction2()">
            ListClusters :<label for="listclusters" id="listclusters"></label> <br />
            Select your Profile:<select name="profilename" id="profilename1"> <br />
              </select><br /> 
              <button type="submit" id="ListClusters2">List Services</button>
              <output name="clusterValue" style="overflow: auto; width:100px; height:200px;" id="clusterValue1"> <%= clusterValue %></output>       
          </form>
<p>
  <form action="/list-services" method="post">
      <label for="runNodeShell"></label> <br />
      Select your Profile:<select name="profilenamesl" id="profilenamesl" onchange="Loadclusters()"> <br />
        </select>
        Select Cluster : <select name="listclusterselect" id="listclusterselect" type="text"><br />
        <option value='Select......'>Select.....</option>
        </select>
        <button type="submit" id="Listservicesbtn" formmethod="post">List Services</button>
        <div style="overflow: auto; width:300px; height:200px;"id="listServices"> <%= listServices %></div>
  </form>
</p>
<p>
  <form action="/list-services2" id = "/list-services2" method="post">
      <label for="runNodeShell"></label> <br />
      Select your Profile:<input name="profilenamesl2" id="profilenamesl2" type="text" /><br />
        Select Cluster : <input name="listclusterselect2" id="listclusterselect2" type="text" /><br />
        <div style="overflow: auto; width:300px; height:200px;"id="listServices"> <%= listServices %></div>
  </form>
</p>
<p>
  <form hidden action="/getclusters" id="/getclusters" method="post" onsubmit="trnsfrtonextpage">
    <label for="runNodeShell"></label> <br />
    Select your Profile:<input name="profilenamegl" id="profilenamegl"> <br />
    </input>
    <div style="overflow: auto; width:300px; height:200px;" id="runNodeShell"> <%= runNodeShell %></div>
</form>
</p>
<p>
  <form action="/getservices" id="/getservices" method="post">
    Select your Profile:<input name="profilenameslinst" id="profilenameslinst"> <br />
    </input>
    Select your Cluster:<input name="clusternameslinst" id="clusternameslinst"> <br />
  </input>
    <div style="overflow: auto; width:300px; height:200px;" id="listServices2"> <%= listServices2 %></div>
</form>
</p>
      <p>
        <label for="ListInstances2"></label> <br />
        <form action="/list-instances" method="post">
        Select your Profile : <select id="profilenameinst" name="profilenameinst"><br />
          <option value='Select the AWS account and region.....'>Select the AWS account and region.....</option>
          </select><br />
          Cluster : <select name="clusterinst" id="clusterinst" type="text" /> <br />
          </select>
          Service : <select name="serviceinst"  id ="serviceinst" type="text" /> <br />
        </select>
            <button type="submit" >List Instances</button>
            <div style="overflow: auto; width:300px; height:200px;"> <%= listServices2 %></div>
        </form>
      </p>
</body>
<script>
  function myFunction() {
    var y = document.getElementById("profilename2").value;
    var z = document.getElementById("profilename1");
    
    if (z.selectedIndex >= -1) {
      var option = document.createElement("option");
      option.text = document.getElementById("profilename2").value;
      var sel = z.options[z.selectedIndex];
      z.add(option, sel);
      document.getElementById("ListClusters2").click();
      document.getElementById("demo2").innerHTML = document.getElementById("clusterValue1").innerHTML
    }
    setTimeout(function(){
    var firstname1 = document.getElementById("clusterValue1").innerHTML
    localStorage.setItem("textvalue", firstname1)
    return False;
  }, 3000);
  }
</script>
<script>
  function myFunction2() {
  document.getElementById("demo2").innerHTML = document.getElementById("clusterValue1").innerHTML
}
</script>
  <script type="text/javascript">
    function Loadclusters() {
      document.getElementById("profilenamegl").value = document.getElementById("profilenamesl").value;
      document.getElementById("/getclusters").submit();
    }
  </script>
  <script>
          alert("set local storage for profile in home 1" + localStorage.getItem('mystorage'));
          var y = document.getElementById("profilenamesl");
          if (y.selectedIndex >= -1) {
            y.remove(1);
            var option = document.createElement("option");
            option.text = localStorage.getItem('mystorage');
            var sel = y.options[y.selectedIndex];
            y.add(option, sel);
          }
          
        var clusterelements = document.getElementById("runNodeShell").innerHTML;
      let myArray = JSON.parse("[" + document.getElementById("runNodeShell").innerHTML + "]");
      myArray1 = myArray.toString().split(',');
      var x = document.getElementById("listclusterselect");
      for(var i = 0; i < myArray1.length; i++)
        {
          if (x.selectedIndex >= 0) {
            var option = document.createElement("option");
            option.text = myArray1[i];
            var sel = x.options[x.selectedIndex];
            x.add(option, sel);
          }
        }

  </script>
  <script>
    var z = document.getElementById("profilenameinst");
    alert("updating profilename in home1 need to replicate for cluster" + localStorage.getItem('mystorage') )
    if (z.selectedIndex >= -1) {
      z.remove(1);
      var option = document.createElement("option");
      option.text = localStorage.getItem('mystorage');
      var sel = z.options[y.selectedIndex];
      z.add(option, sel);
    }
    var l = document.getElementById("clusterinst");
    alert("updating profilename in home1 need to replicate for cluster" + localStorage.getItem('mystorage') )
    if (l.selectedIndex >= -1) {
      l.remove(1);
      var option = document.createElement("option");
      option.text = localStorage.getItem('mystorageclusterinst');
      var sel = l.options[l.selectedIndex];
      l.add(option, sel);
    }
</script>
<script>
  function loadservicefinal() {
    let myArray = JSON.parse("[" + document.getElementById("listServices").innerHTML + "]");
      myArray1 = myArray.toString().split(',');
      var x = document.getElementById("serviceinst");
      for(var i = 0; i < myArray1.length; i++)
        {
          if (x.selectedIndex >= -1) {
            var option = document.createElement("option");
            option.text = myArray1[i];
            var sel = x.options[x.selectedIndex];
            x.add(option, sel);
          }
        }
  }
  window.onload = loadservicefinal();
</script>
<script>
  var z = document.getElementById("profilenameinst");
  alert("updating profilename in home1 need to replicate for cluster" + localStorage.getItem('mystorage') )
  if (z.selectedIndex >= -1) {
    z.remove(1);
    var option = document.createElement("option");
    option.text = localStorage.getItem('mystorage');
    var sel = z.options[y.selectedIndex];
    z.add(option, sel);
  }
  var l = document.getElementById("clusterinst");
  alert("updating profilename in home1 need to replicate for cluster" + localStorage.getItem('mystorage') )
  if (l.selectedIndex >= -1) {
    l.remove(1);
    var option = document.createElement("option");
    option.text = localStorage.getItem('mystorageclusterinst');
    var sel = l.options[l.selectedIndex];
    l.add(option, sel);
  }
</script>
</html>