<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  </style>
  </head>
<body>  
   <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<button class="btn" form="/home" id="homebutton"><i class="fa fa-home"></i> Home</button>
<form name="/" method="get" action="/" id="/home">    
</form>
        <form hidden name="/list-clusters" method="post" action="/list-clusters" id="/list-clusters" onsubmit="myFunction2()">
            ListClusters :<label for="listclusters" id="listclusters"></label> <br />
            Select your Profile:<select name="profilename" id="profilename1"> <br />
              </select><br /> 
              <button type="submit" id="ListClusters2">List Services</button>
              <output name="clusterValue" style="overflow: auto; width:100px; height:200px;" id="clusterValue1"> <%= clusterValue %></output>       
          </form>
<p>
  <form action="/list-services" method="post">
      <label for="runNodeShell"></label> <br />
      Select your Profile:<select name="profilenamesl" id="profilenamesl" onchange="Loadclusters()"> <br />
        <option value='tk-nonprod,us-west-1'>tk-nonprod us-west-1</option>
        <option value='tk-nonprod,us-east-1'>tk-nonprod us-east-1</option>
        <option value='tk-prod,us-west-1'>tk-prod us-west-1</option>
        <option value='tk-prod,us-east-1'>tk-prod us-east-1</option>
        </select>
        Select Cluster : <select name="listclusterselect" id="listclusterselect" type="text"><br />
        <option value='Select......'>Select.....</option>
        </select>
        <button type="submit" id="Listservices2" formmethod="post">List Services</button>
        <div style="overflow: auto; width:300px; height:200px;"id="listServices"> <%= listServices %></div>
  </form>
</p>
<p>
  <form action="/getclusters" id="/getclusters" method="post">
    <label for="runNodeShell"></label> <br />
    Select your Profile:<input name="profilenamegl" id="profilenamegl"> <br />
    </input>
    <div style="overflow: auto; width:300px; height:200px;" id="runNodeShell"> <%= runNodeShell %></div>
</form>
</p>
      <p>
        <form action="/list-instances" method="post">
        Select your Profile : <select id="profilename" name="profilename"><br />
            <option value="tk-prod">tk-prod(us-west-1 or us-east-1)</option>
            <option value="tk-nonprod">tk-nonprod(us-west-1 only)</option>
          </select><br />
          Select Region: <select id="regionname" name="regionname"><br />
            <option value="us-west-1">us-west-1</option>
            <option value="us-east-1">us-east-1</option>
          </select><br />
          Cluster : <input name="cluster" type="text" /> <br />
          Service : <input name="service" type="text" /> <br />
            <button type="submit" >List Instances</button>
            <div style="overflow: auto; width:300px; height:200px;"> <%= listInstances %></div>
        </form>
      </p>
</body>
<script>
  function myFunction() {
    var y = document.getElementById("profilename2").value;
    var z = document.getElementById("profilename1");
    
    if (z.selectedIndex >= -1) {
      var option = document.createElement("option");
      option.text = document.getElementById("profilename2").value;
      var sel = z.options[z.selectedIndex];
      z.add(option, sel);
      document.getElementById("ListClusters2").click();
      document.getElementById("demo2").innerHTML = document.getElementById("clusterValue1").innerHTML
    }
    setTimeout(function(){
    var firstname1 = document.getElementById("clusterValue1").innerHTML
    localStorage.setItem("textvalue", firstname1)
    return False;
  }, 3000);
  }
</script>
<script>
  function myFunction2() {
  document.getElementById("demo2").innerHTML = document.getElementById("clusterValue1").innerHTML
}
</script>
<script type="text/javascript">
  function codeAddress() {
      var clusterelements = document.getElementById("runNodeShell").innerHTML;
      let myArray = JSON.parse("[" + document.getElementById("runNodeShell").innerHTML + "]");
      myArray1 = myArray.toString().split(',');
      var x = document.getElementById("listclusterselect");
      for(var i = 0; i < myArray1.length; i++)
        {
          if (x.selectedIndex >= 0) {
            var option = document.createElement("option");
            option.text = myArray1[i];
            var sel = x.options[x.selectedIndex];
            x.add(option, sel);
          }
        }
  }
  window.onload = codeAddress;
  </script>
  <script type="text/javascript">
    function Loadclusters() {
      alert(document.getElementById("profilenamesl").value); 
      document.getElementById("profilenamegl").value = document.getElementById("profilenamesl").value;
      document.getElementById("/getclusters").submit();
    }
  </script>
</html>